# Database
backend/tiktak.db
backend/tiktak.db-journal

# Audio files
backend/audio/

# Python
__pycache__/
*.pyc
*.pyo
.env

# Conda / Virtual env
env/
venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db